<%= @doctor.name %>
<%= @doctor.specialty %>
<%= @doctor.university%>
<%= @doctor.hospital.name %>

<% @doctor.patients.each do |patient| %>
  <div id="patient-<%= patient.id %>">
      <%= patient.name %>
      <%= button_to "Delete", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete %>
  </div>
<% end %>
